body {
    background-color: #97ffce;
    text-align: center;
    background: linear-gradient(-45deg, #96eb8a, #85df8c, #9cfade, #8adfcb);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Navigation Bar */

.navigation {
    color: black;
    Border: 2px solid black;
    border-style: dotted;
    background-color: #c8ffc1;
    border-radius: 15px;
    padding: 10px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

nav a:hover {
    box-shadow: 2px 3px 2px 1px black;
}

/* Hi there I am Macy */

h1 {
    color: rgb(13, 13, 124);
    font-family: verdana 'Times New Roman', Times, serif;
    font-size: 30;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    transition: all;
    transition-duration: .5s;
    background-color: #c8ffc1;
    padding-left: 15px;
    padding-right: 15px;
}

h1:hover {
    background-color: #9ee6c4;
    box-shadow: 5px 5px black;
}


/* bio */

p {
    background-color: #c8ffc1;
    border: 2px solid black;
    border-radius: 15px;
    border-style: dotted;
}

/* Intro changer */

.introButton {
    animation-name: bg-color-animation;
    animation-duration: 3s;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-style: dotted;
    margin-left: 600px;
    margin-right: 600px;
    transition: all;
    transition-duration: .5s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #c8ffc1;
}

.introButton:hover {
    background-color: #9ee6c4;
    box-shadow: 5px 5px black;
}

/* Colour Animation */

@keyframes bg-color-animation {
    25% {
        background-color: #97ffce;
    }

    75% {
        background-color: rgb(115, 226, 149)
    }

    100% {
        background-color: aquamarine;
    }
}

/* BIO */

/* Bio Header */

.bioHeader {
    border-style: dotted;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-style: dotted;
    color: black;
    background-color: #c8ffc1;
}

.bio {
    border: 2px;
    background-color: #c8ffc1;
}

/* "User Details Form" */

.myForm {
    border: 3px solid black;
    border-radius: 15px;
    border-style: dotted;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all;
    transition-duration: .5s;
    background-color: #c8ffc1;

}

.myForm:hover {
    background-color: #9ee6c4;
    box-shadow: 5px 5px black;
}

/* Inputs for User Details Form */

input {
    border-radius: 15px;
    background-color: #c8ffc1;
}

.submitButton {
    border: 4px;
    background-color: rgb(167, 235, 112);
    border-style: dotted;
    transition: all;
    transition-duration: .5s;
}

.submitButton:hover {
    box-shadow: 5px 5px black;
}

/* Joke Generator */


/* Joke Generator Header */

.jokeTitle {
    color: black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: auto;
    border-style: dotted;
    padding: 5px;
    margin-left: 300px;
    margin-right: 300px;
    transition: all;
    transition-duration: .5s;
    font-size: 25px;
    background-color: #c8ffc1;
}

.jokeTitle:hover {
    background-color: #9ee6c4;
    box-shadow: 5px 5px black;

}

/* Joke Box */

.jokeBox {
    font-size: 30px;
    border: 2px solid black;
    border-style: dotted;
    border-radius: 15px;
    background-color: #c8ffc1;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.generateBox {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* New Joke Button */

.yesButton {
    border-style: dotted;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
    transition: all;
    transition-duration: .3s;
    background-color: #c8ffc1;
}

.yesButton:hover {
    background-color: #26f55a;
    box-shadow: 3px 3px black;
}